/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #243b55;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 2rem;
}

#profile-container {
    text-align: center;
    margin-bottom: 2rem;
}

#profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

h2 {
    color: #243b55;
}

#social-links a {
    margin: 0 10px;
    display: inline-block;
}

#social-links img {
    width: 40px;
    height: 40px;
    transition: transform 0.2s ease;
}

#social-links img:hover {
    transform: scale(1.2);
}

/* #publications-container {
    list-style-type: none;
    padding: 0;
}

#publications-container li {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
} */

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #243b55;
    color: white;
}


/* Publications Section */
#publications-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Spacing between publications */
}

.publication-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.publication-card:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s;
}